<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
      <ion-item>
      <ion-input type="email" fill="solid" label="Email" labelPlacement="floating" helperText="Enter a valid email"
        errorText="Invalid email" ngModel email aria-live="assertive"></ion-input>
    </ion-item><ion-item>
      <ion-input type="password" fill="solid" label="Password" labelPlacement="floating" helperText="Enter your password"
        errorText="Invalid password" ngModel email aria-live="assertive"></ion-input>
    </ion-item>

    <ion-list>
      <ion-item >First Item</ion-item>
      <ion-item >Second Item</ion-item>
      <ion-item >Third Item</ion-item>
    </ion-list>
  </div>
</ion-content>